
body {
	color: #747474;
	background-color: #f8eaea;
	background-image: url(../../img/girl-1/bg.png);
}
.btn {
  background-color: #fab5b9;
}
.black {
	color: #747474;
}
.navbar-brand {
	background-image: url(../../img/girl-1/logo.png);
}
.site-name {
	color: #fab5b9;
}
.navbar-2 {
	border-color: #f4ddde;
}
.nav-item a {
	color: #747474;
}
.nav-item.active a {
	background-color: #fab5b9;
	border-color: #fab5b9;
}
@media (min-width: 992px) {
	.nav-item.active-link a,.nav-item:HOVER a {
		color: #fab5b9;
		border-color: #fab5b9;
		background-color: #fff;
	}
}

.bunner {
	background-color: #fde8d7;
}
.bunner .bunner-bg {
	background-image: url(../../img/girl-1/bunner.jpg);
}

.comments-wrap .comment-section:nth-child(odd) {
	background-color: #f6fbea;
}
.comments-wrap .comment-section:nth-child(even) {
	background-color: #fef2f2;
}
.comments-wrap .comment-section .comment-content a,
.comments-wrap .comment-section .comment-content .date {
	color: #fab5b9;
}

.section-game-results .table thead {
	background-color: #fab5b9;
	border-color: #fab5b9;
}
.section-game-results .table-striped tbody tr:nth-of-type(odd) {
	background-color: #f8f8f8;
}
.section-game-results .table .number-1 {
	background-color: #fab5b9;
}
.section-game-results .table .number-2 {
	background-color: #daefad;
}
.section-game-results .table .number-3 {
	background-color: #719a97;
}

.announcement-section {
	background-color: #fab5b9;
}
.announcement-section .img-wrap .img-title {
	color: #fab5b9;
}

.section-timeline .scale:before {
	background-color: #daefad;
}
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-header {
	background-color: #fab5b9;
}
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-header:before {
	border-left-color: #fab5b9;
}
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-header:after {
	background-color: #fab5b9;
}
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-body .my-card-title,
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-body a {
	color: #fab5b9;
}
.section-timeline .scale .row:nth-of-type(odd) .my-card .my-card-body .my-card-title:after {
	background-color: #fab5b9;
}
.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-header {
	background-color: #719c99;
}
@media (max-width: 767px) {
	.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-header:before {
		border-left-color: #719c99;
	}
}
@media (min-width: 768px) {
	.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-header:before {
		border-right-color: #719c99;
	}
}
.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-header:after {
	background-color: #719c99;
}
.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-body .my-card-title,
.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-body a {
	color: #719c99;
}
.section-timeline .scale .row:nth-of-type(even) .my-card .my-card-body .my-card-title:after {
	background-color: #719c99;
}
.section-timeline .mounth {
  color: #719c99;
}

footer {
	background-color: #fab5b9;
}
footer .footer-right {
	border-color: #fff;
}